extends layout

block content
  .content
    h1.page-title Ominaisuudet
    
    h3.small-title Nettilomake helpottaa lipunmyyjän työtä
    
    img(src='/images/demo/nettilomake-taytetty.png')
    
    p Voit linkittää teatterin nettisivuille ja sosiaaliseen mediaan varauslomakkeen, jolla katsoja syöttää nimensä, sähköpostinsa, haluamansa esityksen ja lippujen määrän itse suoraan järjestelmään.
    
    p Vertaa tätä puhelin- tai sähköpostivaraukseen, jossa katsoja ensin sanoo tai kirjoittaa omat tietonsa, lipunmyyjä ottaa tiedot vastaan ja kirjaa ne jonnekin ylös. Nettivarauksessa lipunmyyjä ei käytä sekuntiakaan varauksen käsittelyyn. Kun katsoja painaa lomakkeen <i>Varaa</i>-painiketta, järjestelmä hoitaa loput.
    
    h3.small-title Sähköpostivahvistus tuo varmuutta
    
    img(src='/images/demo/sahkopostivahvistus.png')
    
    p Kun katsoja on varannut lippunsa netissä, järjestelmä lähettää varauksesta automaattisesti vahvistuksen katsojan sähköpostiosoitteeseen. Vahvistuksessa lukee selkeästi varauksen tiedot, joten vahvistus toimii todisteena ja muistutuksena tehdystä varauksesta. Vahvistusviestin vastausosoitteeksi määrittyy teatterin sähköpostiosoite, joten vahvistus toimii myös väylänä ottaa tarvittaessa helposti yhteyttä teatteriin.
    
    p Toisinaan katsojilla voi olla kysymyksiä tai erikoistoiveita. Näitä varten nettivarauslomakkeessa on <i>Lisätietoja</i>-kenttä, jonka katsoja voi halutessaan täyttää. Jos tässä kentässä on tekstiä, järjestelmä lähettää sen sisällön automaattisesti teatterin sähköpostiin. Viestin vastausosoitteeksi määräytyy katsojan sähköpostiosoite. Näin saat tiedon katsojan kysymyksistä ja toiveista suoraan sähköpostiin ja voit yhdellä klikkauksella alkaa kirjoittaa vastausviestiä.
    
    h3.small-title Kaikki löytyy yhdestä paikasta
    
    img(src='/images/demo/varaukset.png')
    
    p Hallintapaneeli on teatterin työympäristö, johon kaikki toiminnallisuus on keskitetty. Siellä voit lisätä, muokata ja poistaa sekä netin kautta tulleita että käsin syötettyjä varauksia.
    
    p Teatterivaraus toimii kokonaan nettiselaimella. Sinun ei tarvitse asentaa mitään. Voit kirjautua sisään miltä tahansa laitteelta ja näet aina kaikki varaukset reaaliajassa.
    
    h3.small-title Löydät haluamasi varauksen hetkessä
    
    img(src='/images/demo/hae-nimella.png')
    
    p Hallintapaneelissa voit helposti hakea varauksia nimellä ja suodattaa niitä esityspäivän mukaan. Hakutulokset päivittyvät välittömästi, kun alat kirjoittaa tai valitset suodattimen.
    
    p Voit tulostaa haluamasi esityksen varaukset siistinä taulukkona sukunimen mukaisessa aakkosjärjestyksessä. Järjestelmä laskee joka varauksen kokonaissumman, mikä nopeuttaa asiointia lippukopilla (ja heikentää lipunmyyjän päässälaskutaitoja, sori!).
    
    h3.small-title Rajattomasti lipputyyppejä
    
    img(src='/images/demo/lippujen-hinnat.png')
    
    p Aikuiset, opiskelijat, eläkeläiset, koirat, kissat, kummin kaimat – kaikki käy. Lipputyyppien määrää ei ole rajoitettu. Syötät vain hallintapaneelissa lipputyypin nimen ja hinnan, ja se ilmestyy järjestelmään.
    
    p Voit lisätä, muokata tai poistaa lipputyyppejä milloin tahansa. Jos yrität vahingossa poistaa lipputyyppiä, jolle on kirjattu varauksia, järjestelmä ei anna tehdä sitä ennen kuin nämä varaukset on poistettu tai muutettu eri lipputyypille.
    
    h3.small-title Rajattomasti näytöksiä
    
    img(src='/images/demo/naytokset.png')
    
    p Olipa esitykselläsi yksi tai satayksi näytöstä, järjestelmä tottelee sinua. Monta esitystä samana päivänä? Onnistuu. Erikoisnäytösten nimeäminen? Onnistuu.
    
    p Järjestelmä lopettaa automaattisesti näytöksen varausten vastaanottamisen, kun esitys alkaa.
    
    p Voit lisätä, muokata tai poistaa esityksiä milloin tahansa. Jos yrität vahingossa poistaa esitystä, jolle on kirjattu varauksia, järjestelmä ei anna tehdä sitä ennen kuin nämä varaukset on poistettu tai muutettu eri näytökselle.
    
    h3.small-title Sponsorit pienentävät kustannuksia
    
    img(src='/images/demo/sponsorit.png')
    
    p Erityisesti kauempaa tulevaa katsojaa kiinnostaa varmasti paikalliset palvelut. Teatterit myyvätkin usein mainospaikkoja käsiohjelmiinsa paikallisille yrityksille. Valitettavan usein käsiohjelman ilmoitus saavuttaa kuitenkin majoitusta tai ruokailua kaipaavan katsojan aivan liian myöhään.
    
    p Teatterivaraus ratkaisee tämän ongelman. Voit lisätä hallintapaneelissa sponsoreita, jotka näkyvät sekä nettivarauslomakkeessa että sähköpostivahvistuksessa. Syötät vain sponsorin nimen, lyhyen kuvauksen ja nettiosoitteen, ja järjestelmä hoitaa loput.
    
    p Tämä on erityisesti matkailu- ja ravitsemusalan yrityksille oiva kanava tavoittaa potentiaalisia asiakkaita hyvissä ajoin ennen esityspäivää. Voit itse hinnoitella nämä mainospaikat haluamallasi tavalla – ei ole ollenkaan mahdoton ajatus, että saisit rahasi takaisin!
    
    p <i>Esimerkki:</i> Kuvitellaan, että hankit järjestelmän huhtikuun alusta heinäkuun loppuun. Maksat neljästä kuukaudesta 120 €.
    
    p Kuvitellaan myös, että saat kolme sponsoria mukaan. Kukin maksaa esityskauden näkyvyydestä kertakorvauksen 50 €, eli yhteensä 150 €.
    
    p Jäät lopulta 30 € voitolle. Saat siis varausjärjestelmän, joka helpottaa työtäsi, lyhentää lippujonoja, tuo yhteistyökumppaneillesi näkyvyyttä ja lopulta tienaat 30 €. Todellinen win-win-win-tilanne, vai kuinka?
    
    h3.small-title Ennakoi yleisöryntäykset
    
    img(src='/images/demo/varaustilanne.png')
    
    p Näet hallintapaneelissa yhdellä silmäyksellä kunkin esityksen varaustilanteen. Näin osaat ennakoida, mihin esityksiin tarvitaan ekstramäärä kahvia ja pullaa.
    
    h3.small-title Kattavat tilastot jälkipuinnin tueksi
    
    p Esityskauden jälkeen toimitan teatterille kattavat tilastot varauksista.
    
    p Nettivarauslomakkeessa on kohta, jossa katsoja voi halutessaan myöntää teatterille luvan tiedottaa tulevista esityksistä sähköpostitse. Toimitan kaikkien luvan antaneiden sähköpostiosoitteet tilastojen yhteydessä. Tässä on tehokas markkinointikanava, joka kannattaa hyödyntää!
    
    p Tämän jälkeen poistan kaikki varaukset palvelimelta, koska haluan kunnioittaa käyttäjien tietosuojaa.
    
    h3.small-title Helppokäyttöinen
    
    p Olen tehnyt paljon työtä sen eteen, että järjestelmä olisi mahdollisimman helppokäyttöinen niin teatterille kuin katsojalle. Käyttöliittymä on yksinkertainen, painikkeet ovat selkeitä ja kaikki hallintapaneelin toiminnot ovat yhden valikon takana.
    
    p Myös nettivarauslomake on erittäin selkeä ja yksinkertainen, joten varauksen tekemiseen ei tarvita insinöörin tutkintoa.
    
    h3.small-title Toimii kaikilla laitteilla
    
    p Monet nettisivut suunnitellaan ensin tietokoneelle ja sitten toivotaan, että ne toimivat myös mobiililaitteilla. Teatterivaraus on alusta asti skaalautuvaksi suunniteltu projekti. Se toimii ja näyttää hyvältä älypuhelimella, tabletilla, läppärillä, pöytäkoneella, älytelevisiolla... Pääset kaikkiin toimintoihin milloin tahansa, missä tahansa.
    
    h3.small-title Katsojiesi tiedot ovat turvassa
    
    p Teatterin ja katsojien tiedot ovat turvassa salatulla palvelimella. Tiedonsiirto on SSL-salattu.
    
    p Järjestelmä säilyttää katsojien tiedot esityskauden ajan, minkä jälkeen toimitan teatterille tilastotiedot kaudesta ja poistan henkilökohtaisesti kaikki tiedot palvelimelta. Maailmassa on jo riittävästi palveluita, jotka keräävät tarpeettomasti tietoa käyttäjistään – Teatterivaraus ei ole yksi niistä.
    
    h3.small-title Et jää yksin
    
    p Jos tarvitset neuvoa, ota yhteyttä. Vastaan sähköpostiin vuorokauden sisällä ja puhelimeen heti. Autan mielelläni kaikessa, joten et ole ikinä yksin.
    
    h3.small-title Tästä puuttuu... ei puutu enää
    
    p Olen koodannut järjestelmän ja vastaan sen kehityksestä ja ylläpidosta kokonaan itse. Jos löydät puutteita, ongelmia tai kaipaat uutta ominaisuutta, ota rohkeasti yhteyttä. Kehitän järjestelmää käyttäjien toiveiden ja palautteen mukaan. Parhaimmillaan saan muutokset voimaan saman päivän aikana.
    
    h3.small-title Ei toistuvia maksuja
    
    p Teatterivaraus ei ole kestotilaus. Ostat palvelun yhdeksi esityskaudeksi kerrallaan ja jos et halua jatkossa käyttää sitä, sinun ei tarvitse tehdä mitään.
    
    p
      a.btn.btn--primary(href='/ota-kayttoon') Ota käyttöön