extends layout

block content
  .content
    section.section.section--long
      .section__content
        h1.page-title= title
        
        p
          | Teatterivarauksen takana on
          |
          a(href='http://www.joonasnuutinen.com') Joonas Nuutinen
          | .
        
        h2.secondary-title Sähköposti
        
        p Lähetä minulle sähköpostia osoitteeseen <a href="mailto:joonas@teatterivaraus.fi">joonas@teatterivaraus.fi</a>. Vastaan vuorokauden sisällä.
        
        h2.secondary-title Puhelin
        
        p Soita tai laita tekstiviestiä numeroon 050-354 7670. Vastaan arkisin klo 8–16.
        
        h2.secondary-title Yrityksen tiedot
        
        p
          b Y-tunnus:
          |
          | 2477397-2
          br
          b Alv-numero:
          |
          | FI24773972
        
        p
          b Laskutusosoite:
          br
          | Joonas Nuutinen
          br
          | Kurkimäentie 19 D 38
          br
          | 00940 HELSINKI
        