extends layout

block content
  .content
    section.section.section--long
      .section__content
        h1.page-title= title
        
        section.box
          h2.small-title Sähköposti
          
          p Lähetä minulle sähköpostia osoitteeseen <a href="mailto:joonas@teatterivaraus.fi">joonas@teatterivaraus.fi</a>. Vastaan vuorokauden sisällä.
        
        section.box
          h2.small-title Puhelin
          
          p Soita tai laita tekstiviestiä numeroon 050-354 7670. Vastaan arkisin klo 8–16.
        
        section.box
          h2.small-title Yrityksen tiedot
        
          p
            | Y-tunnus:
            |
            | 2477397-2
            br
            | Alv-numero:
            |
            | FI24773972
        