extends layout

block content
  .content
    section.section.section--long
      .section__content
        - message = (message == 'Not Found') ? 'Sivua ei löydy' : message;
        h1.page-title= message
        
        p
          | Etsimääsi sivua ei löydy. Voit siirtyä etusivulle
          |
          a(href='/') tästä
          | .
        
        h2= error.status
        pre #{error.stack}
