extends layout

block content
  .content
    section.section.section--hero
      h2.section__title Lippuvarausjärjestelmä harrastajateattereille
    
      p Teatterivaraus on uusi palvelu, joka on tehty helpottamaan harrastajateattereiden lippurumbaa.
    
    section.section
      h2.section__title Vastaanota lippuvarauksia netissä
      
      .section__content
        p Saat käyttöösi nettilomakkeen, jolla katsojat varaavat lippunsa helposti itse.
      
      
    section.section
      h2.section__title Lisää, muokkaa ja poista varauksia käsin
      
      .section__content
        p Voit lisätä, muokata ja poistaa varauksia mielin määrin hallintapaneelissa.
        
    section.section
      h2.section__title Tarkastele helposti kaikkia varauksia
      
      .section__content
        p Voit hakea varauksia nimellä ja suodattaa niitä esityspäivän mukaan.
    
    section.section
      h2.section__title Automaattiset tulosteet varauksista
      
      .section__content
        p Järjestelmä muodostaa valitsemastasi näytöksestä selkeän listan, jossa varaukset on lueteltu aakkosjärjestyksessä. Kunkin varauksen kohdalla näkyy varatut liput, mahdolliset erikoistoiveet ja varauksen kokonaissumma.
        
    section.section
      h2.section__title Hallitse näytöksiä ja lipputyyppejä
      
      .section__content
        p Voit lisätä rajattomasti näytöksiä ja lipputyyppejä sekä määrittää, mihin näytöksiin otetaan varauksia vastaan.
        
    section.section
      h2.section__title Lisää sponsoreita
      
      .section__content
        p Voit tarjota nettilomakkeen ja varausvahvistuksen yhteydestä mainospaikkoja yhteistyökumppaneillesi haluamaasi hintaan.
    
    section.section
      h2.section__title Lisää ominaisuuksia
      
      .section__content
        ul
          li Sähköpostivahvistukset
          li Selainpohjainen
          li Toimii kaikilla laitteilla
          li Helppo käyttää
          li Turvallinen
          li Kattavat tilastot
    
    section.section
      h2.section__title Tuki
      
      .section__content
        p Henkilökohtainen tuki on yhden sähköpostin tai puhelinsoiton päässä. Olipa kysymyksesi mikä tahansa, löydämme siihen vastauksen.
        
    section.section
      h2.section__title Yksi hinta
      
      .section__content
        p Palvelun hinta on <b>30 € / alkava kuukausi</b>. Maksat vain siltä ajalta, kun otat varauksia vastaan. Käyttöaika määritetään sopimuksen yhteydessä ja veloitetaan kerran. Ei toistuvia maksuja. Ei kestotilausta.
          
    
    
    
    p
      a.btn.btn--primary(href='/ota-kayttoon') Ota käyttöön
    