extends layout

block content
  .content
    h2.secondary-title Tarina
    
    p Hei, olen Joonas.
    
    p Vuonna 2014 liityin Suomen itäisimmän kesäteatterin, Teatteri Möhkön riveihin. Esitin sota-aiheisessa näytelmässä nuorta upseeria ja vastasin näytelmän musiikista.
    
    p Möhkön lippuvaraukset kirjattiin tuolloin paperille. Ryhmille oli oma A4-pohja ja yksittäisvarauksille oma. Varaukset otettiin vastaan puhelimella ja sähköpostilla, ja ne kirjattiin lomakkeeseen sitä mukaa, kun niitä tuli.
    
    p Näytelmä oli pienelle teatterillemme yleisömenestys. Esityksiä oli 15, ja katsojia kävi yli 5 000. Noin puolet katsojista varasi liput ennakkoon. Voit vain arvata, millaiset jonot lippukopille kertyi, kun lipunmyyjämme joutui etsimään parhaana päivänä lähes kymmenen paperiarkin joukosta juuri sitä oikeaa varausta samalla kun sadat katsojat odottivat helteessä kärsimättömänä lippujaan. Toisinaan esitysten alkua jouduttiin viivästämään jonojen takia.
    
    p Päätin tehdä asialle jotain. Seuraavan talven aikana väsäsin Googlen pilvipalveluita käyttäen lippuvarauslomakkeen, jonka avulla katsojat pystyivät varaamaan lippunsa netissä. Lippuvaraukset siirtyivät automaattisesti Google Sheets -tiedostoon, jossa niitä pystyi vapaasti suodattamaan, lajittelemaan ja muokkaamaan.
    
    p Lipunmyyjämme kirjasi myös muuta kautta tulleet varaukset samaan tiedostoon, ja esityspäivänä tulostimme kyseisen päivän varaukset siistinä taulukkona sukunimen mukaan aakkostettuna.
    
    p Järjestelmä oli kömpelö mutta teki tehtävänsä. Lippujonot lyhenivät ja lippupuhelin pirisi vähemmän, kun yhä useampi katsoja varasi lippunsa netissä.
    
    p Seuraavan kolmen vuoden aikana kehitin järjestelmää vähitellen. Lisäsin muun muassa ominaisuuden, joka laski automaattisesti kunkin varauksen kokonaissumman sekä helpotin esitysten suodattamista ja tulostamista.
    
    p Kesällä 2017 tutkin katsojatilastoja. Huomasin, että karkeasti yksi kolmasosa myydyistä lipuista varattiin netissä, yksi kolmasosa puhelimitse tai sähköpostitse ja yksi kolmasosa ovelta. Tämä todisti, että nettivaraus on oikeasti vähentänyt puhelinvarausten määrää kolmanneksella ja kasvattanut kokonaisvarausprosenttia saman verran kolmen vuoden takaiseen verrattuna.
    
    p Puhelinvarausten väheneminen vähentää suoraan lipunmyyjän ennakkotyötä. Kokonaisvarausten kasvu puolestaan lisää katsojan sitoutumista. Molemmat muutokset ovat erittäin tervetulleita.
    
    p Päätin viedä järjestelmän uudelle tasolle. Jos Teatteri Möhkö on tyytyväinen uuteen järjestelmään, ehkä siitä voisi olla hyötyä muillekin harrastajateattereille. Kömpelö Google-viritelmä ei kuitenkaan enää riittäisi.
    
    p Päätin koodata varausjärjestelmän alusta asti itse. Käärin hihat ja opettelin paljon paljon uusia teknologioita. Kului kesä, kului syksy, kului talvi. Menetin uskoni projektiin monta kertaa mutta palasin aina uudelleen.
    
    p Kolmen vuoden kenttäkokemus ja yhdeksän kuukauden sitkeä kehitystyö on nyt palkittu. Saanko esitellä: <i>Teatterivaraus</i>, harrastajateattereille suunnattu lippuvarausjärjestelmä. Helppo käyttää, toimivaksi havaittu, korvaamaton apu.
    
    h2.secondary-title Hyödyt

    h3.small-title Lipunmyyjän työ vähenee
    
    p Voit linkittää teatterin nettisivuille ja sosiaaliseen mediaan varauslomakkeen, jolla katsoja syöttää nimensä, sähköpostinsa, haluamansa esityksen ja lippujen määrän <strong>itse suoraan järjestelmään</strong>.
    
    p Puhelin- tai sähköpostivarauksessa katsoja ensin sanoo tai kirjoittaa omat tietonsa, lipunmyyjä ottaa tiedot vastaan ja kirjaa ne jonnekin ylös. Nettivarauksessa lipunmyyjä ei käytä sekuntiakaan varauksen käsittelyyn. Kun katsoja painaa lomakkeen <i>Varaa</i>-painiketta, järjestelmä hoitaa loput.
    
    h3.small-title Sähköpostivahvistus tuo varmuutta
    
    p Kun katsoja on varannut lippunsa netissä, järjestelmä lähettää varauksesta automaattisesti vahvistuksen katsojan sähköpostiosoitteeseen. Vahvistuksessa lukee selkeästi varauksen tiedot, joten vahvistus toimii todisteena ja muistutuksena tehdystä varauksesta. Lisäksi katsoja tietää, että varaus on varmasti mennyt perille. Vahvistusviestin vastausosoitteeksi määrittyy teatterin sähköpostiosoite, joten vahvistus toimii myös väylänä ottaa tarvittaessa helposti yhteyttä teatteriin.
    
    p Toisinaan katsojilla voi olla kysymyksiä tai erikoistoiveita. Näitä varten nettivarauslomakkeessa on <i>Lisätietoja</i>-kenttä, jonka katsoja voi halutessaan täyttää. Jos tässä kentässä on tekstiä, järjestelmä lähettää sen sisällön automaattisesti teatterin sähköpostiin. Viestin vastausosoitteeksi määräytyy katsojan sähköpostiosoite. Näin saat tiedon katsojan kysymyksistä ja toiveista suoraan sähköpostiin ja voit yhdellä klikkauksella alkaa kirjoittaa vastausviestiä.
    
    h3.small-title Kaikki löytyy yhdestä paikasta
    
    p Hallintapaneeli on teatterin työympäristö, johon kaikki toiminnallisuus on keskitetty. Siellä voit lisätä, muokata ja poistaa varauksia, selata sekä netin kautta tulleita että käsin syötettyjä varauksia ja hallita palvelua.
    
    p Teatterivaraus toimii kokonaan nettiselaimella. Sinun ei tarvitse asentaa mitään. Voit kirjautua sisään miltä tahansa laitteelta ja näet aina kaikki varaukset reaaliajassa.
    
    h3.small-title Löydät haluamasi varauksen hetkessä
    
    p Hallintapaneelissa voit helposti hakea varauksia nimellä ja suodattaa niitä esityspäivän mukaan. Hakutulokset päivittyvät välittömästi, kun alat kirjoittaa tai valitset suodattimen.
    
    p Voit tulostaa haluamasi esityksen varaukset siistinä taulukkona sukunimen mukaisessa aakkosjärjestyksessä. Järjestelmä laskee joka varauksen kokonaissumman, mikä nopeuttaa asiointia lippukopilla (ja heikentää lipunmyyjän päässälaskutaitoja, sori!).
    
    h3.small-title Rajattomasti lipputyyppejä
    
    p Aikuiset, opiskelijat, eläkeläiset, koirat, kissat, kummin kaimat – kaikki käy. Lipputyyppien määrää ei ole rajoitettu. Syötät vain hallintapaneelissa lipputyypin nimen ja hinnan, ja se ilmestyy järjestelmään.
    
    p Voit lisätä, muokata tai poistaa lipputyyppejä milloin tahansa. Jos yrität vahingossa poistaa lipputyyppiä, jolle on kirjattu varauksia, järjestelmä ei anna tehdä sitä ennen kuin nämä varaukset on poistettu tai muutettu eri lipputyypille.
    
    h3.small-title Rajattomasti näytöksiä
    
    p Olipa esitykselläsi yksi tai satayksi näytöstä, järjestelmä tottelee sinua. Monta esitystä samana päivänä? Onnistuu. Erikoisnäytösten nimeäminen? Onnistuu.
    
    p Järjestelmä lopettaa automaattisesti näytöksen varausten vastaanottamisen, kun esitys alkaa.
    
    p Voit lisätä, muokata tai poistaa esityksiä milloin tahansa. Jos yrität vahingossa poistaa esitystä, jolle on kirjattu varauksia, järjestelmä ei anna tehdä sitä ennen kuin nämä varaukset on poistettu tai muutettu eri näytökselle.
    
    h3.small-title Sponsorit pienentävät kustannuksia
    
    p Erityisesti kauempaa tulevaa katsojaa kiinnostaa varmasti paikalliset palvelut. Teatterit myyvätkin usein mainospaikkoja käsiohjelmiinsa paikallisille yrityksille. Valitettavan usein käsiohjelman ilmoitus saavuttaa kuitenkin majoitusta tai ruokailua kaipaavan katsojan aivan liian myöhään.
    
    p Teatterivaraus ratkaisee tämän ongelman. Voit lisätä hallintapaneelissa sponsoreita, jotka näkyvät sekä nettivarauslomakkeessa että sähköpostivahvistuksessa. Syötät vain sponsorin nimen, lyhyen kuvauksen ja nettiosoitteen, ja järjestelmä hoitaa loput.
    
    p Tämä on erityisesti matkailu- ja ravitsemusalan yrityksille oiva kanava tavoittaa potentiaalisia asiakkaita hyvissä ajoin ennen esityspäivää. Voit itse hinnoitella nämä mainospaikat haluamallasi tavalla – ei ole ollenkaan mahdoton ajatus, että saisit rahasi takaisin! (Ks. <a href="#sponsorit-2">esimerkki</a>)
    
    h3.small-title Ennakoi yleisöryntäykset
    
    p Näet hallintapaneelissa yhdellä silmäyksellä kunkin esityksen varaustilanteen. Näin osaat ennakoida, mihin esityksiin tarvitaan ekstramäärä kahvia ja pullaa.
    
    h3.small-title Kattavat tilastot jälkipuinnin tueksi
    
    p Esityskauden jälkeen toimitan teatterille kattavat tilastot varauksista.
    
    p Nettivarauslomakkeessa on kohta, jossa katsoja voi halutessaan myöntää teatterille luvan tiedottaa tulevista esityksistä sähköpostitse. Toimitan kaikkien luvan antaneiden sähköpostiosoitteet tilastojen yhteydessä. Tässä on tehokas markkinointikanava, joka kannattaa hyödyntää!
    
    p Tämän jälkeen poistan kaikki varaukset palvelimelta, koska haluan kunnioittaa käyttäjien tietosuojaa.
    
    h3.small-title Helppokäyttöinen
    
    p Olen tehnyt paljon työtä sen eteen, että järjestelmä olisi mahdollisimman helppokäyttöinen niin teatterille kuin katsojalle. Käyttöliittymä on yksinkertainen, painikkeet ovat selkeitä ja kaikki hallintapaneelin toiminnot ovat yhden valikon takana.
    
    p Myös nettivarauslomake on erittäin selkeä ja yksinkertainen, joten varauksen tekemiseen ei tarvita insinöörin tutkintoa.
    
    h3.small-title Toimii kaikilla laitteilla
    
    p Monet nettisivut suunnitellaan ensin tietokoneelle ja sitten toivotaan, että ne toimivat myös mobiililaitteilla. Teatterivaraus on alusta asti skaalautuvaksi suunniteltu projekti. Se toimii ja näyttää hyvältä älypuhelimella, tabletilla, läppärillä, pöytäkoneella, älytelevisiolla... Pääset kaikkiin toimintoihin milloin tahansa, missä tahansa.
    
    h3.small-title Katsojiesi tiedot ovat turvassa
    
    p Teatterin ja katsojien tiedot ovat turvassa salatulla palvelimella. Tiedonsiirto on SSL-salattu.
    
    p Järjestelmä säilyttää katsojien tiedot esityskauden ajan, minkä jälkeen toimitan teatterille tilastotiedot kaudesta ja poistan henkilökohtaisesti kaikki tiedot palvelimelta. Käyttäjien tietosuoja on minulle prioriteetti numero yksi.
    
    h3.small-title Et jää yksin
    
    p Jos tarvitset neuvoa, ota yhteyttä. Vastaan sähköpostiin vuorokauden sisällä ja puhelimeen heti. Autan mielelläni kaikessa, joten et ole ikinä yksin. Ainoa poikkeus on, että yöllä nukun. Nuku sinäkin.
    
    h3.small-title Tästä puuttuu... ei puutu enää
    
    p Olen koodannut järjestelmän ja vastaan sen kehityksestä ja ylläpidosta kokonaan itse. Jos löydät puutteita, ongelmia tai kaipaat uutta ominaisuutta, ota rohkeasti yhteyttä. Kehitän järjestelmää käyttäjien toiveiden ja palautteen mukaan. Parhaimmillaan saan muutokset voimaan saman päivän aikana.
    
    
    h2.secondary-title Hinnoittelu
    
    p Teatterivaraus on uusi järjestelmä. Sen edeltäjä on ollut koekäytössä kolmena kesänä, ja esittelin uuden järjestelmän maaliskuussa 2018.
    
    p Palvelun vuosihinta on 360 €. Sillä saan katettua palvelinkustannukset ja joskus vuosien päästä myös jonkinlaisen korvauksen tehdystä työstä.
    
    p Harrastajateatteri on kuitenkin hyvin sesonkiluontoinen taiteenala. Siksi tuntuisi kohtuuttomalta veloittaa koko vuodesta, jos sesonki kestää enimmillään muutaman kuukauden. Siksi olen päättänyt toistaiseksi veloittaa järjestelmän käytöstä kuukausien mukaan.
    
    p Hinta on <b>30 € / alkava kuukausi</b> sisältäen arvonlisäveron 24 %.
    
    p Se on vähän. Se on aivan liian vähän. Joudun varmasti nostamaan hintaa tulevaisuudessa. Mutta juuri nyt tuo hinta tuntuu reilulta. Uusi palvelu, uudet asiakkaat, uutta kaikki. Siksi menköön toistaiseksi näin.
    
    p Laskutan esityskauden käyttöönoton yhteydessä.
    
    p <i>Esimerkki:</i> Teatteri ottaa palvelun käyttöön 1.4., ja viimeinen näytös on 30.7. Alkavia kuukausia on neljä, joten laskutan teatterilta 120 € huhtikuun alussa.
    
    h3#sponsorit-2.small-title Sponsorit pienentävät kustannuksia, osa 2
    
    p <i>Esimerkki:</i> Kuvitellaan, että hankit järjestelmän huhtikuun alusta heinäkuun loppuun. Maksat neljästä kuukaudesta 120 €.
    
    p Kuvitellaan myös, että saat kolme sponsoria mukaan. Kukin maksaa esityskauden näkyvyydestä kertakorvauksen 50 €, eli yhteensä 150 €.
    
    p Jäät lopulta 30 € voitolle. Saat siis varausjärjestelmän, joka helpottaa työtäsi, lyhentää lippujonoja, tuo yhteistyökumppaneillesi näkyvyyttä ja lopulta tienaat 30 €. Todellinen win-win-win-tilanne, vai kuinka?
    
    
    h2.secondary-title Hanki järjestelmä
    
    p Oletko valmis?
    
    p Lähetä sähköpostia osoitteeseen <a href="mailto:joonas.nuutinen@teatterivaraus.fi">joonas.nuutinen@teatterivaraus.fi</a>, ja saat järjestelmän käyttöösi vuorokauden sisällä.
    
    
    h2.secondary-title Kysyttyä
    
    h3.small-title Kuinka saan palvelun käyttöön?
    
    p Lähetä sähköpostia osoitteeseen <a href="mailto:joonas.nuutinen@teatterivaraus.fi">joonas.nuutinen@teatterivaraus.fi</a> ja kerro teatterin nimi ja sähköposti. Lähetän kirjautumistunnukset vuorokauden sisällä.
    
    h3.small-title Kuinka kauan kestää ottaa palvelu käyttöön?
    
    p Kun olet saanut tunnukset, kirjaudut palveluun ja lisäät esitysajat ja lippujen hinnat. Tähän kuluu näytösten ja lipputyyppien määrästä riippuen 10–30 minuuttia. Tämän jälkeen voit aloittaa varausten vastaanottamisen välittömästi.
    
    h3.small-title Miten palvelua käytetään?
    
    p Kirjoitan parhaillaan käyttöopasta. Ilmoitan heti, kun se on valmis.
    
    h3.small-title Miten asennan varauslomakkeen teatterin nettisivuille?
    
    p Varauslomaketta ei asenneta teatterin nettisivuille, vaan lomake löytyy osoitteesta, joka on muotoa <i>www.teatterivaraus.fi/&lt;teatterin yksilöivä tunnus&gt;</i>. Saat linkin, kun otat palvelun käyttöön.
    
    p Joka teatterin nettisivut ovat erilaiset, joten lomakkeen asentaminen erilaisille julkaisualustoille – puhumattakaan visuaalisen ulkoasun yhteensovittamisesta – olisi työlästä ja toisi lisäkustannuksia.
    
    p Sen sijaan teatterin kannattaa luoda sivuilleen oma lippuvarausosio, jonka osoite on esimerkiksi muotoa <i>www.teatterinnimi.fi/liput</i>. Tästä osoitteesta voi joko uudelleenohjata tai linkittää Teatterivarauksen lomakkeeseen.
    
    h3.small-title Mistä saan lisätietoa?
    
    p Vastaan mielelläni kaikkiin kysymyksiin. Tavoitat minut sähköpostitse osoitteesta <a href="mailto:joonas.nuutinen@teatterivaraus.fi">joonas.nuutinen@teatterivaraus.fi</a> ja puhelimitse numerosta 050-354 7670.

    
    h2.secondary-title Tyytyväisyystakuu
    
    p Jos olet tyytymätön mihin tahansa palvelun osa-alueeseen, ota yhteyttä. Yritän korjata ongelman parhaani mukaan.
    
    p Jos emme pääse yhteisymmärrykseen, hyvitän maksamasi summan kokonaisuudessaan, ja saat edelleen käyttää palvelua sopimuksen loppuun asti.
    