doctype html
html(lang='fi')  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title + ' - Teatterivaraus'
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style-app.css')
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  
  body.page.page--app
    header.header
      nav.navbar
        a.navbar__brand(href='/app')
          img.navbar__logo(src='/images/logo.svg' alt='Teatterivaraus-logo')
        button#nav-toggler.navbar__toggler(type='button')
          != '&#9776;'
        
        ul#nav.navbar__nav.navbar__nav--collapse
          each navItem in [{title: 'Varaukset', href: '/app/varaukset'}, {title: 'Varaustilanne', href: '/app/varaustilanne'}, {title: 'Näytökset', href: '/app/naytokset'}, {title: 'Lippujen hinnat', href: '/app/lippujen-hinnat'}, {title: 'Sponsorit', href: '/app/sponsorit'}, {title: 'Asetukset', href: '/app/asetukset'}, {title: 'Julkinen varauslomake', href: '/app/lomake', target: '_blank'}, {title: 'Kirjaudu ulos', href: '/app/kirjaudu-ulos'}]
            - var isActive = (navItem.title == title)
            - var className = (isActive ? 'navbar__item navbar__item--active' : 'navbar__item')
            - var target = ( navItem.target ) ? navItem.target : '_self'
            li(class=className)
              a.navbar__link(href=navItem.href target=target)= navItem.title
    
    block content
    
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
    script(src='/scripts/global.js')
    script(src='/scripts/appFront.js')
