doctype html
html(lang='fi')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  head
    title= title + ' - Teatterivaraus'
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body.page
    header
      nav.navbar
        a.navbar__brand(href='/') Teatterivaraus
          
        ul#nav.navbar__nav
          each navItem in [{title: 'Etusivu', href: '/'}, {title: 'Kirjaudu', href: '/app'}, {title: 'Rekisteröidy', href: '/app/rekisteroidy'}]
            - var isActive = (navItem.title == title)
            - var className = (isActive ? 'navbar__item navbar__item--active' : 'navbar__item')
            li(class=className)
              a.navbar__link(href=navItem.href)= navItem.title
              
    block content
      
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
    script(src='/scripts/global.js')
