doctype html
html(lang='fi')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  head
    - title = title || 'Sivua ei löydy';
    title= title + ' - Teatterivaraus'
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body.page
    header.header
      nav.navbar
        a.navbar__brand(href='/' rel='home' title='Siirry etusivulle')
          img.navbar__logo.navbar__logo--vertical(src='/images/logo-vertical.svg' alt='Teatterivaraus-logo')
          img.navbar__logo.navbar__logo--horizontal(src='/images/logo.svg' alt='Teatterivaraus-logo')
          
        ul#nav.navbar__nav
          li.navbar__item.navbar__item--secondary
            a.navbar__link(href='/tarina') Tarina
          li.navbar__item.navbar__item--secondary
            a.navbar__link(href='/yhteystiedot') Yhteystiedot
          li.navbar__item
            a.navbar__link(href='/app') Kirjaudu sisään
              
    block content
    
    footer.footer
      h2.footer__title Teatterivaraus
      
      ul.footer__nav
        li.footer__nav-item
          a.footer__link(href='/tarina') Tarina
        li.footer__nav-item
          a.footer__link(href='/yhteystiedot') Yhteystiedot
        li.footer__nav-item
          a.footer__link(href='/ota-kayttoon') Ota käyttöön
        li.footer__nav-item
          a.footer__link(href='/app') Kirjaudu sisään
      
      p.copyright
        | &copy; #{new Date().getFullYear()}
        |
        a.footer__link(href='http://www.joonasnuutinen.com/' rel='external author') Joonas Nuutinen
      
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
    script(src='/scripts/global.js')
