extends layout

block content
  .container-fluid  
    .row
      .col
      .col-12.col-sm-8.col-md-6.col-lg-4
        h1= title

        p Kirjaudu sisään kirjoittamalla käyttäjätilisi sähköpostiosoite ja salasana alla oleviin kenttiin.
        
        if errors
          each error in errors
            p= error
        
        form(action='' method='POST')
          .form-group
            label(for='email') Sähköposti
            input.form-control(name='email' id='email' type='email' required='true' autofocus)
          .form-group
            label(for='password') Salasana
            input.form-control(name='password' id='password' type='password' required='true')
          div
            button.btn.btn-primary(type='submit') Kirjaudu
        
        p
          | Uusi käyttäjä?
          |
          a(href='/app/rekisteroidy') Rekisteröidy täällä
          | .
      .col