extends layout

block content
  .row
    .col-12.col-sm-2.col-md-3.col-lg-4
    .col
      h1 Kirjaudu

      p Kirjaudu sisään kirjoittamalla käyttäjätilisi sähköpostiosoite ja salasana alla oleviin kenttiin.
      
      if errors
        each error in errors
          p= error
      
      form(action='' method='POST')
        .form-group
          label(for='email') Sähköposti
          input.form-control(name='email' id='email' type='email' required='true' autofocus)
        .form-group
          label(for='password') Salasana
          input.form-control(name='password' id='password' type='password' required='true')
        div
          button.btn.btn-primary(type='submit') Kirjaudu
      
      p
        | Uusi käyttäjä?
        |
        a(href='/app/rekisteroidy') Rekisteröidy täällä
        | .
    .col-12.col-sm-2.col-md-3.col-lg-4