doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/print.css')
  
  body
    .page
      - var i = 1;
      table
        while i <= 37
          tr
            td= i
          - i++;
