extends layout

block content
  .content
    section.section.section--form
      .section__content
        h1.page-title= title
        
        form#contactForm.form(action='' method='POST')
          label Teatterin nimi
            input.input(type='text' name='name' required)
          label Teatterin sähköposti
            input.input(type='email' name='email' required)
          label Näytelmän nimi
            input.input(type='text' name='playName' required)
          | Otan palvelun käyttöön<br>
          label alkaen
            input.input(type='date' name='beginning')
          label päättyen
            input.input(type='date' name='ending')
          label Lisätietoja
            textarea.input(name='additionalInfo')
          button.btn.btn--primary(type='submit') Lähetä
          
        #message
        
        p
          | Oletko jo saanut tunnukset?
          |
          a(href='/app/kirjaudu') Kirjaudu sisään täällä
          | .