extends layout

block content
  h1= title
  
  if errors
    each error in errors
      p= error
  
  form(action='' method='POST')
    div
      label(for='name') Teatterin nimi
      input(name='name' id='name' type='text' aria-required='true')
    div
      label(for='email') Sähköposti
      input(name='email' id='email' type='email' aria-required='true')
    div
      label(for='password') Salasana
      input(name='password' id='password' type='password' aria-required='true')
    div
      input(type='submit' value='Rekisteröidy')
  
  p
    | Oletko jo rekisteröitynyt?
    |
    a(href='/app/kirjaudu') Kirjaudu sisään täällä
    | .