extends layout

block content
  .content
    h1.page-title= title
    
    p Ota yhteyttä osoitteeseen <a href="mailto:joonas@teatterivaraus.fi">joonas@teatterivaraus.fi</a>, niin saat tunnukset.
    
    p
      | Oletko jo rekisteröitynyt?
      |
      a(href='/app/kirjaudu') Kirjaudu sisään täällä
      | .