extends layout

block content
  .content
    h1.page-title= title
    
    form.form(action='/')
      label Teatterin nimi
        input.input(type='text' name='name' required)
      label Teatterin sähköposti
        input.input(type='email' name='email' required)
      | Otan palvelun käyttöön<br>
      label alkaen
        input.input(type='date' name='beginning')
      label päättyen
        input.input(type='date' name='ending')
      label Lisätietoja
        textarea.input(name='additional-info')
      button.btn.btn--primary(type='submit') Lähetä
    
    p
      | Oletko jo saanut tunnukset?
      |
      a(href='/app/kirjaudu') Kirjaudu sisään täällä
      | .