extends layout_app

block content
  .content
    h1.page-title= title
    
    if errors
      each error in errors
        p= error.msg

    section.box
      h2.secondary-title Näytelmän tiedot
      
      form.form(action='' method='POST')
        label Näytelmän nimi
          input.input(type='text' name='playName' value=(undefined===theatre.playName ? '' : theatre.playName))
        label Näytelmän kuvaus
          textarea.input(type='text' name='playDescription' value=(undefined===theatre.playDescription ? '' : theatre.playDescription))
        button.btn.btn--primary(type='submit') Tallenna
    
    section.box#Vaihda-salasana
      h2.secondary-title Vaihda salasana
      form#changePassword.form(action='/app/vaihda-salasana' method='post')
        label Vanha salasana
          input.input(type='password' name='oldPassword')
        label Uusi salasana
          input.input(type='password' name='newPassword')
        label Vahvista uusi salasana
          input.input(type='password' name='retypeNewPassword')
        button.btn.btn--primary(type='submit') Vaihda salasana
      
      .message