extends layout_app

block content
  h1= title
  
  if errors
    each error in errors
      p= error.msg
  
  form(action='' method='POST')
    div
      label(for='play-name') N채ytelm채n nimi
      input#play-name(type='text' name='playName' value=(undefined===theatre.playName ? '' : theatre.playName))
    div
      label(for='play-description') N채ytelm채n kuvaus
      input#play-description(type='text' name='playDescription' value=(undefined===theatre.playDescription ? '' : theatre.playDescription))
    div
      input(type='submit' value='Tallenna')