extends layout_app

block content
  .content
    h1.page-title= title
    
    if errors
      each error in errors
        p= error.msg

    section.box
      h2.secondary-title Yleiset
      
      form#settings.form(action='' method='POST')
        label Näytelmän nimi
          input.input(type='text' name='playName' value=(undefined===theatre.playName ? '' : theatre.playName))
        
        label Varausten enimmäismäärä näytöksessä
          .input-group
            input.input.input--narrow(type='number' name='capacity' min='0' value=([undefined, null, Infinity].includes(theatre.capacity) ? '' : theatre.capacity))
            span.unit.input-group-addon kpl
        
        label Varausten sulkemisaika ennen näytöstä
          .input-group
            input.input.input--narrow(type='number' name='closeBefore' min='0' value=(undefined===theatre.closeBefore ? '0' : theatre.closeBefore))
            span.unit.input-group-addon min

        label Lisätietoja-kentän selite
          .input-group
            input.input(type='text' name='additionalInfoExplanation' value=(undefined===theatre.additionalInfoExplanation ? '' : theatre.additionalInfoExplanation))
        
        button.btn.btn--primary(type='submit') Tallenna
      
        .message
    
    section.box#Vaihda-salasana
      h2.secondary-title Vaihda salasana
      form#changePassword.form(action='/vaihda-salasana' method='post')
        label Vanha salasana
          input.input(type='password' name='oldPassword' required)
        label Uusi salasana
          input.input(type='password' name='newPassword' required)
        label Vahvista uusi salasana
          input.input(type='password' name='retypeNewPassword' required)
        button.btn.btn--primary(type='submit') Vaihda salasana
      
      .message