extends layout_app

block content
  h1= title
  
  .errors
  .new-fields.hidden
    div
      label(for='newClassName') Lippuluokan nimi
      input.new-field#newClassName(type='text' placeholder='esim. Opiskelijat')
    div
      label(for='newClassPrice') Lipun hinta
      input.new-field#newClassPrice(type='text')
      |
      | €
  div
    input(type='button' class='add-row' value='Lisää uusi')
    input(type='button' class='save-row hidden' value='Tallenna')
    input(type='button' class='cancel-row hidden' value='Peruuta')
  
  .rows(data-schema='ticketClass' data-columns-view='name priceWithSymbol' data-columns-edit='name price')