/* Admin area styles */

/*
  ============================================================================
  # Forms
  ============================================================================
*/

.input--tall {
  min-height: 30em;
}

/*
  ============================================================================
  # Buttons
  ============================================================================
*/

.btn--add-new {
  margin-bottom: 1rem;
}

/*
  ============================================================================
  # Rows
  ============================================================================
*/

.data-row__title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 .5rem;
}

/*
  ============================================================================
  # Docs
  ============================================================================
*/

/* Form */

.form--doc .input {
  max-width: none;
}

