/*
  ============================================================================
  # Page
  ============================================================================
*/

.page {
  background: #fafafa;
}

/*
  ============================================================================
  # Navbar
  ============================================================================
*/

.navbar {
  max-width: none;
}

.navbar__toggler {
  float: right;
  margin: 17px .5rem 0 0;
  font-size: 2em;
  padding: 0;
  background: transparent;
  border: none;
  color: white;
  line-height: 1;
  cursor: pointer;
}

.navbar__nav--collapse {
  display: none;
}

/*
  ============================================================================
  # Content
  ============================================================================
*/

.content {
}

.content-actions {
  margin-bottom: 1rem;
}

.filter-content {
  margin-bottom: 1.5rem;
}

.secondary-title {
  margin-top: .5rem;
}

/*
  ============================================================================
  # Rows
  ============================================================================
*/

.data-row {
  margin-bottom: 1rem;
  padding: .5rem;
  box-shadow: 0 1px 4px #777;
  background: white;
}

.data-row--new {
  margin-bottom: 1rem;
}

.data-rows .data-row {
  position: relative;
}
/*
.data-rows .data-row:nth-child(even) {
  background: #ecf3ff;
}
*/
.name,
.fullName,
.beginsLite {
  font-weight: 700;
}

.name,
.description {
  margin-bottom: .25rem;
}

.data-row--edit .fields {
  /*margin-top: 1rem;*/
}

.fields > div {
  margin-bottom: .1rem;
}

.source {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #777;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  right: 0;
  top: 1.2rem;
  border-radius: 3px;
  padding: .5rem;
  background: #777;
  z-index: 1;
  color: white;
  box-shadow: 0 1px 3px #101010;
}

.source-name {
  font-weight: 500;
}

/*
  ============================================================================
  # Tables
  ============================================================================
*/

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table__head {
  background: #78a;
  color: white;
}

.table__header {
  text-align: left;
  font-weight: 500;
}

.table__header--number {
  text-align: right;
}

.table__header,
.table__cell {
  border-bottom: 1px solid #ccc;
  padding: .2em;
}

.table__body .table__row:nth-child(even) {
  background: #ecf3ff;
}

.table__foot {
  background: #78a;
  color: white;
  font-weight: 500;
}

.table__foot .table__row:last-child .table__cell {
  border-bottom: none;
}

.table__cell--number {
  text-align: right;
}

/*
  ============================================================================
  # Screen width >= 720px
  ============================================================================
*/

@media screen and (min-width: 720px) {
  .header {
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .navbar__toggler {
    display: none;
  }
  
  .navbar__nav--collapse {
    display: block!important;
    position: fixed;
    top: 65px;
    width: 200px;
    padding-top: .5rem;
    background: #2d4471;
    background: linear-gradient(to top left, #152B55, #4d638d);
    min-height: calc( 100vh - 65px );
  }
  
  .navbar__nav--collapse .navbar__link {
    padding: .7rem .5rem;
  }
  
  .content {
    margin-top: 65px;
    margin-left: 200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}