/*
  ============================================================================
  # Page
  ============================================================================
*/

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  background: #fafafa;
}

.page--reservation {
  background: #fafafa;
}

img {
  width: 100%;
  height: auto;
}

/*
  ============================================================================
  # Header
  ============================================================================
*/

.header {
  background: #2d4471;
  background: linear-gradient(to top left, #152B55, #4d638d);
}

.navbar {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 .5rem;
  text-align: center;
}

.page--reservation .navbar {
  text-align: left;
}

.navbar__brand {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.navbar__logo {
  width: 100%;
  max-width: 240px;
  margin-top: 14px;
}

.navbar__logo--horizontal {
  display: none;
}

.navbar__logo--vertical {
  max-width: 200px;
}

.navbar__nav {
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar__item--secondary {
  display: none;
}

.navbar__link {
  display: block;
  padding: .5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navbar__item--active .navbar__link {
  font-weight: 400;
}

.navbar__link:hover {
  text-decoration: underline;
}

/*
  ============================================================================
  # Content
  ============================================================================
*/

.content {
  line-height: 1.3;
  min-height: calc( 100vh - 65.59px - 186px );
}

.page--reservation .content {
  padding: .5rem;
  max-width: 900px;
  margin: 0 auto;
}

p {
  margin: .5rem 0 1rem;
}

.content a,
.content a:visited {
  color: #4d638d;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  color: #2d4471;
}

.box {
  box-shadow: 0 1px 4px #777;
  margin-bottom: 1rem;
  padding: .5rem;
  background: white;
}

.cover {
  position: relative;
}

.cover__img {
  width: 100%;
  height: auto;
  display: block;
}

.cover__title {
  text-align: center;
  margin: 0;
  padding: 2rem .5rem;
  font-size: 2rem;
}

.icon {
  margin-right: 2px;
}

/*
  ============================================================================
  # Rows and columns
  ============================================================================
*/

.row:after {
  content: "";
  clear: both;
  display: table;
}

.column--secondary {
  display: none;
}

/*
  ============================================================================
  # Titles
  ============================================================================
*/

.page-title {
  font-size: 2rem;
  margin: .5rem 0 1rem;
}

.secondary-title {
  font-size: 1.5rem;
  margin: .5rem 0 1rem;
}

.small-title {
  font-size: 1rem;
  margin: 1rem 0 .5rem;
}

.small-title--box {
  margin-top: .5rem;
}

/*
  ============================================================================
  # Sections
  ============================================================================
*/

.section {
  text-align: center;
  padding: 2rem .5rem;
}

.section__content {
  max-width: 900px;
  margin: 0 auto;
}

.section__title {
  margin: 0 0 1rem;
}

.section__figure {
  margin: 0 auto 1rem;
  max-width: 400px;
}

/*
  ============================================================================
  # Hero
  ============================================================================
*/

.section--hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 0 1px 4px #ccc;
  background: white;
}

.section--hero .section__title {
  font-weight: 300;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.section--hero p:last-of-type {
  margin-bottom: 2rem;
}

/*
  ============================================================================
  # Web form
  ============================================================================
*/

.section--webform {
  margin-top: 2px;
}

.section--webform .section__figure {
  box-shadow: 0 1px 4px #ccc;
  background: white;
  padding: .5rem 0;
}

.section--webform .section__image {
  max-width: 320px;
}

/*
  ============================================================================
  # Dashboard
  ============================================================================
*/

.section--dashboard {
  box-shadow: 0 1px 4px #ccc;
  background: white;
}

/*
  ============================================================================
  # Sponsors
  ============================================================================
*/

.section--sponsors {
  background: #2d4471;
  background: linear-gradient(to top left, #152B55, #4d638d);
  color: white;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
}

.section--sponsors .section__title {
  font-weight: 500;
}

.section--sponsors .column--secondary {
  perspective: 900px;
}

.section--sponsors .section__image {
  box-shadow: 2px 2px 5px black;
  display: block;
  transform: rotateY(-15deg);
}

/*
  ============================================================================
  # Print
  ============================================================================
*/

.section--print {
  box-shadow: 0 1px 4px #ccc;
  background: white;
}

.section--print .section__figure {
  max-width: 600px;
}

/*
  ============================================================================
  # Other features
  ============================================================================
*/

.section--other-features {
  margin-top: 2px;
}

.section--other-features .feature {
  background: white;
  box-shadow: 0 1px 4px #ccc;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .5rem;
}

.section--other-features .feature__title {
  margin-bottom: .5rem;
  color: #2d4471;
}

.section--other-features p {
  margin: 0;
}

/*
  ============================================================================
  # Price
  ============================================================================
*/

.section--price {
  box-shadow: 0 1px 4px #ccc;
  background: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.price {
  color: #2d4471;
}

.section--price .btn {
  margin-top: 1rem;
}

/*
  ============================================================================
  # Long
  ============================================================================
*/

.section--long {
  text-align: left;
}

/*
  ============================================================================
  # Features
  ============================================================================
*/

.feature {
  margin-top: 3rem;
}

.feature__figure {
  max-width: 400px;
  margin: 0 auto .25rem;
}

.feature__image {
  max-width: 320px;
}

.feature__title {
  margin: 0;
}

/*
  ============================================================================
  # Form section
  ============================================================================
*/

.section--form {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
  ============================================================================
  # Form
  ============================================================================
*/

.form {
  /*margin-bottom: 1rem;*/
}

.input {
  display: block;
  width: 100%;
  max-width: 30em;
  padding: .4em;
  margin: .1rem 0 .7rem;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.input--narrow {
  display: inline-block;
  width: calc(100% - 29px);
  margin-right: .5rem;
}

.data-row--new {
  margin-bottom: 1rem;
}

.form-group--checkboxes {
}

.form-group--checkboxes .form__label {
  width: calc( 100% - 18px );
  float: right;
  margin-bottom: 1rem;
}

.checkbox {
  margin: 0;
}

/*
  ============================================================================
  # Buttons
  ============================================================================
*/

.btn {
  display: inline-block;
  border: none;
  padding: .3em .5em .3em;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  margin-right: .1rem;
  font-family: inherit;
}

.btn:disabled {
  background: #ddd;
  color: #999;
  cursor: default;
}

.btn--primary {
  background: #4d638d;
  background: linear-gradient(#4d638d, #2d4471);
  color: white!important;
  text-decoration: none!important;
}

.btn--primary:active {
  background: #2d4471;
}

.btn--secondary {
  background: #d4c16a;
  background: linear-gradient(#d4c16a, #aa9538);
  color: white;
}

.btn--secondary:active {
  background: #aa9538;
}

.btn--danger {
  background: #d4986a;
  background: linear-gradient(#d4986a, #aa6a38);
  color: white;
}

.btn--danger:active {
  background: #aa6a38;
}

.btn--big {
  padding: .5em 1.5em;
}

/*
  ============================================================================
  # Elements
  ============================================================================
*/

.notice {
  opacity: .5;
  margin-top: 1rem;
}

.copyright {
  margin: 2rem 0 0;
  font-size: .8em;
}

/*
  ============================================================================
  # Uncategorized
  ============================================================================
*/

.hidden {
  display: none;
}

.ticketClass {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .sidebar-col {
    min-height: calc(100vh - 56px);
  }
}

/*
  ============================================================================
  # Errors and messages
  ============================================================================
*/

.message__content {
  padding: .2rem;
  margin-top: .5rem;
}

.message__content--error {
  background: #d4986a;
}

.message__content--success {
  background: #dcfbdc;
}

/*
  ============================================================================
  # Footer
  ============================================================================
*/

.footer {
  background: #2d4471;
  background: linear-gradient(to top left, #152B55, #4d638d);
  padding: 1rem .5rem;
  color: white;
  line-height: 1.3;
  text-align: center;
  font-weight: 300;
}

.footer__title {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 .25rem;
}

.footer__nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer__content p {
  margin: 0;
}

/*
  ============================================================================
  # @media rules
  ============================================================================
*/

@media screen and (min-width: 320px) {
  .navbar__item--secondary {
    display: block;
  }
}

@media screen and (min-width: 430px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar__logo--vertical {
    display: none;
  }
  
  .navbar__logo--horizontal {
    display: initial;
  }
  
  .navbar__item--secondary {
    display: none;
  }
}

@media screen and (min-width: 580px) {
  .navbar__item--secondary {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  .section--sponsors {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .section--sponsors .column--main {
    margin: 2rem 0 1.7rem;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .column {
    padding: 0 .5rem;
  }
  
  .column:first-child {
    padding-left: 0;
  }
  
  .column:last-child {
    padding-right: 0;
  }
  
  .column--8 {
    width: calc( 100% * 2/3 );
  }
  
  .column--4 {
    width: calc( 100% * 1/3 );
  }
  
  .column--secondary {
    display: block;
  }
  
  .section--other-features .feature-row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .section--other-features .feature-group {
    width: 50%;
    float: left;
    padding: 0 .5rem;
  }
  
  .section--other-features .feature-group:first-child {
    padding-left: 0;
  }
  
  .section--other-features .feature-group:last-child {
    padding-right: 0;
  }
}