/*
  ============================================================================
  # Page
  ============================================================================
*/

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

/*
  ============================================================================
  # Navbar
  ============================================================================
*/

.navbar {
  background: #2d4471;
  background: linear-gradient(to top left, #152B55, #4d638d);
}

.navbar__brand {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 0 .5rem .5rem
}

.navbar__logo {
  width: 240px;
  margin-top: 14px;
}

.navbar__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.navbar__item {
}

.navbar__link {
  display: block;
  padding: .5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navbar__item--active .navbar__link {
  font-weight: 400;
}

.navbar__link:hover {
  text-decoration: underline;
}

/*
  ============================================================================
  # Content
  ============================================================================
*/

.content {
  padding: .5rem;
  line-height: 1.3;
  max-width: 900px;
  margin: 0 auto;
}

.content p {
  margin: 0 0 1rem;
}

.content a,
.content a:visited {
  color: #4d638d;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  color: #2d4471;
}

/*
  ============================================================================
  # Titles
  ============================================================================
*/

.page-title {
  font-size: 2rem;
  margin: .5rem 0 1rem;
}

.secondary-title {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.small-title {
  font-size: 1rem;
  margin: 1rem 0 .5rem;
}

/*
  ============================================================================
  # Form
  ============================================================================
*/

.form {
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  max-width: 30em;
  padding: .4em;
  margin: .1rem 0 .7rem;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.input--narrow {
  display: inline-block;
  width: calc(100% - 29px);
  margin-right: .5rem;
}

.data-row--new {
  margin-bottom: 1rem;
}

.form-group--checkboxes {
}

.form-group--checkboxes .form__label {
  width: calc( 100% - 18px );
  float: right;
  margin-bottom: 1rem;
}

.checkbox {
  margin: 0;
}

/*
  ============================================================================
  # Buttons
  ============================================================================
*/

.btn {
  border: none;
  padding: .3em .5em .3em;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  margin-right: .1rem;
  font-family: inherit;
}

.btn:disabled {
  background: #ddd;
  color: #999;
  cursor: default;
}

.btn--primary {
  background: #4d638d;
  background: linear-gradient(#4d638d, #2d4471);
  color: white;
}

.btn--primary:active {
  background: #2d4471;
}

.btn--secondary {
  background: #d4c16a;
  background: linear-gradient(#d4c16a, #aa9538);
  color: white;
}

.btn--secondary:active {
  background: #aa9538;
}

.btn--danger {
  background: #d4986a;
  background: linear-gradient(#d4986a, #aa6a38);
  color: white;
}

.btn--danger:active {
  background: #aa6a38;
}

/*
  ============================================================================
  # Uncategorized
  ============================================================================
*/

.hidden {
  display: none;
}

.ticketClass {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .sidebar-col {
    min-height: calc(100vh - 56px);
  }
}

/*
  ============================================================================
  # Errors and messages
  ============================================================================
*/

.message__content {
  padding: .2rem;
  margin-bottom: 1rem;
}

.message__content--error {
  background: #d4986a;
}