/*
  ============================================================================
  # Page
  ============================================================================
*/

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

.page--reservation {
  background: #fafafa;
}

img {
  width: 100%;
  height: auto;
}

/*
  ============================================================================
  # Header
  ============================================================================
*/

.header {
  background: #2d4471;
  background: linear-gradient(to top left, #152B55, #4d638d);
}

.navbar {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 .5rem;
  text-align: center;
}

.navbar__brand {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.navbar__logo {
  width: 100%;
  max-width: 240px;
  margin-top: 14px;
}

.navbar__nav {
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar__item {
}

.navbar__link {
  display: block;
  padding: .5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navbar__item--active .navbar__link {
  font-weight: 400;
}

.navbar__link:hover {
  text-decoration: underline;
}

/*
  ============================================================================
  # Content
  ============================================================================
*/

.content {
  line-height: 1.3;
  max-width: 900px;
  margin: 0 auto;
  min-height: calc( 100vh - 65.59px - 112px );
}

.content p {
  margin: .5rem 0 1rem;
}

.content a,
.content a:visited {
  color: #4d638d;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  color: #2d4471;
}

.box {
  box-shadow: 0 1px 4px #777;
  padding: .5rem;
  margin-bottom: 1rem;
  background: white;
}

.cover {
  position: relative;
}

.cover__img {
  width: 100%;
  height: auto;
  display: block;
}

.cover__title {
  text-align: center;
  margin: 0;
  padding: 2rem .5rem;
  font-size: 2rem;
}

/*
  ============================================================================
  # Titles
  ============================================================================
*/

.page-title {
  font-size: 2rem;
  margin: .5rem 0 1rem;
}

.secondary-title {
  font-size: 1.5rem;
  margin: .5rem 0 1rem;
}

.small-title {
  font-size: 1rem;
  margin: 1rem 0 .5rem;
}

.small-title--box {
  margin-top: .5rem;
}

/*
  ============================================================================
  # Sections
  ============================================================================
*/

.section {
  text-align: center;
  padding: 1rem .5rem;
}

.section__title {
  margin: 0 0 1rem;
}

.section__figure {
  margin: 0 auto 1rem;
  max-width: 400px;
}

/*
  ============================================================================
  # Hero
  ============================================================================
*/

.section--hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 0 1px 4px #ccc;
}

.section--hero .section__title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/*
  ============================================================================
  # Web form
  ============================================================================
*/

.section--webform {
  background: #fafafa;
  margin-top: 2px;
}

.section--webform .section__figure {
  box-shadow: 0 1px 4px #ccc;
  background: white;
  padding: .5rem 0;
}

.section--webform .section__image {
  max-width: 320px;
  
}

/*
  ============================================================================
  # Features
  ============================================================================
*/

.feature__figure {
  max-width: 400px;
  margin: 0 auto;
}

.feature__image {
  max-width: 320px;
}

/*
  ============================================================================
  # Form
  ============================================================================
*/

.form {
  /*margin-bottom: 1rem;*/
}

.input {
  display: block;
  width: 100%;
  max-width: 30em;
  padding: .4em;
  margin: .1rem 0 .7rem;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.input--narrow {
  display: inline-block;
  width: calc(100% - 29px);
  margin-right: .5rem;
}

.data-row--new {
  margin-bottom: 1rem;
}

.form-group--checkboxes {
}

.form-group--checkboxes .form__label {
  width: calc( 100% - 18px );
  float: right;
  margin-bottom: 1rem;
}

.checkbox {
  margin: 0;
}

/*
  ============================================================================
  # Buttons
  ============================================================================
*/

.btn {
  border: none;
  padding: .3em .5em .3em;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  margin-right: .1rem;
  font-family: inherit;
}

.btn:disabled {
  background: #ddd;
  color: #999;
  cursor: default;
}

.btn--primary {
  background: #4d638d;
  background: linear-gradient(#4d638d, #2d4471);
  color: white!important;
  text-decoration: none!important;
}

.btn--primary:active {
  background: #2d4471;
}

.btn--secondary {
  background: #d4c16a;
  background: linear-gradient(#d4c16a, #aa9538);
  color: white;
}

.btn--secondary:active {
  background: #aa9538;
}

.btn--danger {
  background: #d4986a;
  background: linear-gradient(#d4986a, #aa6a38);
  color: white;
}

.btn--danger:active {
  background: #aa6a38;
}

/*
  ============================================================================
  # Uncategorized
  ============================================================================
*/

.hidden {
  display: none;
}

.ticketClass {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .sidebar-col {
    min-height: calc(100vh - 56px);
  }
}

/*
  ============================================================================
  # Errors and messages
  ============================================================================
*/

.message__content {
  padding: .2rem;
  margin-top: .5rem;
}

.message__content--error {
  background: #d4986a;
}

.message__content--success {
  background: #dcfbdc;
}

/*
  ============================================================================
  # Footer
  ============================================================================
*/

.footer {
  background: #2d4471;
  background: linear-gradient(to top left, #152B55, #4d638d);
  padding: 1rem .5rem;
  color: white;
  line-height: 1.3;
}

.footer a {
  color: white;
}

.footer__content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer__content p {
  margin: 0;
}

/*
  ============================================================================
  # Screen width >= 520px
  ============================================================================
*/

@media screen and (min-width: 520px) {
  .navbar {
    display: flex;
    align-items: center;
  }
}